<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>   Drowsiness Detection   </title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7CVarela+Round" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="./static/css/bootstrap.min.css" />

    <!-- Owl Carousel -->
    <link type="text/css" rel="stylesheet" href="./static/css/owl.carousel.css" />
    <link type="text/css" rel="stylesheet" href="./static/css/owl.theme.default.css" />

    <!-- Magnific Popup -->
    <link type="text/css" rel="stylesheet" href="./static/css/magnific-popup.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="./static/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="./static/css/style4.css" />
    <style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>

</head>

<body>
    <!-- Header -->
    <header id="home">
        <!-- Background Image -->
        <div class="bg-img" style="background-image: url('./static/img/newbg.jpg');">
            <div class="overlay"></div>
        </div>
        <!-- /Background Image -->
        <!-- Nav -->
        <nav id="nav" class="navbar nav-transparent">
            <div class="container">

                <div class="navbar-header">
                    <!-- Collapse nav button -->
                    <div class="nav-collapse">
                        <span></span>
                    </div>
                    <!-- /Collapse nav button -->
                </div>

                <!--  Main navigation  -->
                <ul class="main-nav nav navbar-nav navbar-right">
                    <li><a href="#home">Home</a></li>


                    <li><a href="#service">Detect</a></li>
                    <li><a href="#data">Data</a></li>

                </ul>
                <!-- /Main navigation -->

            </div>
        </nav>
        <!-- /Nav -->
        <!-- home wrapper -->
        <div class="home-wrapper">
            <div class="container">
                <div class="row">

                    <!-- home content -->
                    <div class="col-md-10 col-md-offset-1">
                        <div class="home-content">
                            <img height="400px" width="400px" class="w3-border w3-padding" src="http://www.arcsoft.com/resource/image/technology/face/face-outline.jpg" alt="logo">
                        </div>
                        <br />
                        <center><font size="4" color="white">Detect whether you are drowsy using Facial Recognition<br><a href="#service">Detect Now</a></font></center>
                    </div>
                    <!-- /home content -->

                </div>
            </div>
        </div>
        <!-- /home wrapper -->

    </header>
    <!-- /Header -->
    <!-- About -->
    <div id="about" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center">
                    <h2 class="title">What is the tech used?</h2>
                </div>
                <!-- /Section header -->
                <!-- about -->
                <div class="col-md-6">
                    <div class="about collapsible" style="cursor: pointer">
                        <i color=#38b6ff class="fa fa-mouse-pointer"></i>
                        <h1><font color=#38b6ff>1</font></h1>
                        <h3><font color=#38b6ff>Frontend</font></h3>
                    </div>
                    <div class="content">
                        <center>
                            <b>
                                <ol>
                                    <li>Flask</li>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                </ol>
                            </b>
                        </center>
                    </div>
                </div>
                <!-- /about -->
                <!-- about -->
                <div class="col-md-6">
                    <div class="about collapsible" style="cursor:pointer">
                        <i class="fa fa-code"></i>
                        <h1><font color=#38b6ff>2</font></h1>
                        <h3><font color=#38b6ff>Backend</font></h3>
                    </div>
                    <div class="content">
                        <center>
                            <b>
                                <ol>
                                    <li>OpenCV</li>
                                    <li>Imutils</li>
                                    <li>numpy</li>
                                </ol>
                            </b>
                        </center>
                    </div>
                </div>
                <!-- /about -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /About -->
    <!-- gallery -->
    <!-- /gallery -->
    <!-- Why Choose Us -->

    <!-- Service -->
    <div id="service" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center" >
                    <h2 class="title">Detect</h2>
                </div>
                <!-- /Section header -->

                <div class="container">
                    <form action="http://localhost:5000/index2" method="POST">
                        <div class="container">
                            <center><input type="submit" class="main-btn" value="Detect Drowsiness ALG1"></input></center>
                        </div>
                    </form>
                    <form action="http://localhost:5000/indexa2" method="POST">
                        <div class="container">
                            <center><input type="submit" class="main-btn" value="Detect Drowsiness ALG2"></input></center>
                        </div>
                    </form>

                </div>

            </div>

        </div><br><br><br>
        <div class="section-header text-center">
                    <h4 class="title">Press 'e' to exit from the frame-</h4>


                </div>
        <!-- /Container -->

    </div>
    <!-- /data -->
    <div id="data" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section header -->
                <div class="section-header text-center" >
                    <h2 class="title">RECENT ALARM PATTERNS</h2>
                </div>
                <!-- /Section header -->

                <div class="container">
                    <form action="http://localhost:5000/index4" method="POST">
                        <div class="container">
                            <center><input type="submit" class="main-btn" value="PATTERNS"></input></center>
                        </div>
                    </form>

                </div>
                <div class="container">
                    <form action="http://localhost:5000/image" method="POST">
                        <div class="container">
                            <center><input type="submit" class="main-btn" value="GRADE"></input></center>
                        </div>
                    </form>

                </div>

            </div>

        </div><br><br><br>
        <div class="section-header text-center">
                    <h4 class="title">-</h4>


                </div>
        <!-- /Container -->

    </div>
    <!-- /data -->
    <!-- /Why Choose Us -->
    <!-- Contact -->
    <div id="contact" class="section md-padding">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <!-- Section-header -->
                <!-- /contact form -->

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </div>
    <!-- /Contact -->
    <!-- Footer -->
    <footer id="footer" class="sm-padding bg-dark">

        <!-- Container -->
        <div class="container">

            <!-- Row -->
            <div class="row">

                <div class="col-md-12">
                    <!-- /footer logo -->
                    <!-- footer follow -->
                    <ul class="footer-follow">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                    <!-- /footer follow -->
                    <!-- footer copyright -->

                </div>

            </div>
            <!-- /Row -->

        </div>
        <!-- /Container -->

    </footer>
    <!-- /Footer -->
    <!-- Back to top -->
    <div id="back-to-top"></div>
    <!-- /Back to top -->
    <!-- Preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- /Preloader -->
    <!-- jQuery Plugins -->
    <script type="text/javascript" src="./static/js/jquery.min.js"></script>
    <script type="text/javascript" src="./static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./static/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="./static/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="./static/js/main.js"></script>

</body>
</html>

<style>
    .content {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
